---
/* componets: */
import Navbar from "../components/Navbar.astro"
import LayoutMain from "../layouts/LayoutMain.astro"
---

<LayoutMain title = "First App Astro" initTitle = 'About page'>
	<p>Content about</p>
</LayoutMain>

	<!-- estilos en scope solo aca!! -->	

	<style is:inline>
		h1 {
			color: red;
		}
	</style>
