---
import Navbar from "../components/Navbar.astro"
import LayoutMain from "../layouts/LayoutMain.astro"
---

<LayoutMain title = "First App Astro" initTitle = 'Contact page'>

	<p>Content Contact</p>

	<!-- footer -->
</LayoutMain>


	


