---

const title = 'First App Astro'
const initTitle = 'Primera aplicacion con astro'

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body>
		<h1>{initTitle}</h1>

		
		<p id="current-time">Momento actual: {new Date().toLocaleTimeString()}</p>

		<script>
			setInterval(() => {
			  const tiempoReal =document.getElementById('current-time');
			  if (tiempoReal) {
				tiempoReal.textContent = `Momento actual: ${new Date().toLocaleTimeString()}`;
			  }
			}, 1000);
		  </script>
		
	</body>
</html>
