---
import Navbar from '../components/Navbar.astro'
import LayoutMain from '../layouts/LayoutMain.astro'


---



	<LayoutMain title = "First App Astro" initTitle = 'Home page'>
		

		<p >Momento actual: {new Date().toLocaleTimeString()}</p>

		<p id="current-time">Momento actual: {new Date().toLocaleTimeString()}</p>

		

		<script>
			// Client Only: Update the current time every second
			const footer = document.querySelector('footer');
			const tiempoReal =document.getElementById('current-time');

			setInterval(() => {
			  if (tiempoReal) {
				tiempoReal.textContent = `Momento actual: ${new Date().toLocaleTimeString()}`;
			  }
			}, 1000);

			
			const currentYear = new Date().getFullYear();

			if (footer){
				footer.innerHTML = `<p>© ${currentYear} - Todos los derechos reservados</p>`;
			}
			
		  </script>
	</LayoutMain>


